<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>University Database - Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
    <div class="container">
        <h1>University Management System</h1>
        
        <div class="btn-container">
            <a th:href="@{/students}" class="btn">👨‍🎓 View Students</a>
            <a th:href="@{/courses}" class="btn">📚 View Courses</a>
            <a th:href="@{/sections}" class="btn">🏫 View Sections</a>
            <a th:href="@{/enrollments}" class="btn">📝 View Enrollments</a>
            <a th:href="@{/grades}" class="btn">🎓 View Grades</a>
        </div>
    </div>
</body>
</html>